<script type='text/javascript' src='/javascript/app.js'></script>
New app

<div id="todo">
</div>

<script type="text/template" id="item-template">
<div>
    <input id="todo_complete" type="checkbox" {{ completed ? 'checked="checked"' : '' }}>
    {{ title }}
</div>
</script>
