<script type='text/javascript' src='/javascript/copied.js'></script>
<form id="main" method="post" action="/">
    <h1>My Services</h1>

    <ul id="services">
        <!-- The services will be inserted here -->
    </ul>

    <p id="total">total: <span>$0</span></p>

    <input type="submit" id="order" value="Order" />

</form>
